<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- form to edit profile -->
    <% if (user) { %>
    <li>Welcome, <%= user.email %></li>
    <li>Welcome, <%= user.name %></li>
    <li><a href="/logout">Log out</a></li>
    <% } else { %>
    <li><a href="/login">Log in</a></li>
    <li><a href="/signup" class="btn">Sign up</a></li>
    <% } %>
  </body>
</html>
